html {
    background-color: var(--background-color);
    font-size: var(--font-size);
}

body {
    /* Center horizontally */
    display: flex;
    align-items: center;
    flex-direction: column;

    
    color: var(--text-color);
    font-family: var(--font-family);
    font-optical-sizing: auto;
}

body > form {
    max-width: 1000px;
    width: max-content;

    padding: 2rem 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    border-bottom: solid 1px;
    border-bottom-color: rgba(180, 180, 180, 0.6);
    border-bottom-color: color-mix(in srgb, currentColor, transparent 80%);
}

h1 {
    font-size: 1.4rem;
    font-weight: 600;
}

h2 {
    font-size: 1.1rem;
    font-weight: 550;
}

h3 {
    font-size: 1rem;
    font-weight: 550;
}

section.appearance {
    display: grid;
    grid-template: 1fr auto / auto auto;
    gap: 1rem;
    margin-bottom: 1rem;

    --focus-color: var(--icon-active-color);
    --default-color: var(--icon-default-color);
}

@media (max-width: 850px) {
    section.appearance {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
}

/* #region not right now */
section.appearance label.preview.new {
    grid-area: 1/1/3/2;
}

section.appearance > #playerType-new:checked ~ label.preview.new,
section.appearance > #playerType-old:checked ~ label.preview.old {
    outline-color: var(--focus-color);
}
section.appearance > #playerType-new:focus ~ label.preview.new,
section.appearance > #playerType-old:focus ~ label.preview.old {
    outline-offset: 2px;
}

section.appearance label.preview {
    width: var(--viewport-width);
    height: var(--viewport-height);

    outline: solid 2px var(--default-color);
    outline-offset: 0;
    
    cursor: pointer;
    overflow: hidden;

    --current-screen-index: 0 !important;

    transition: outline-color 150ms;
}

section.appearance label.preview.new {
    --viewport-height: 450px;
    --viewport-width: 350px;
}

section.appearance label.preview.old {
    --viewport-height: 100px;
    --viewport-width: 450px;
}

section.appearance label.preview section.player {
    width: var(--viewport-width);
    flex-grow: 0;
}

section.appearance label.preview * {
    pointer-events: none;
}


.appearance .controls {
    background-color: rgba(180, 180, 180, 0.08);
    border-radius: 0.5rem;

    width: 450px; /* This is the width of the old preview.*/
    max-width: 100%;
    padding: 0.4rem 0.5rem;

    font-size: 0.8rem;

    overflow-y: scroll;
    max-height: calc(350px - 1rem);

    color-scheme: var(--color-scheme-type, light dark);
}

.appearance .controls .quick-theme-select {
    display: flex;
    flex-flow: row wrap;

    gap: 0.5rem 0.25rem;
    padding-bottom: 0.4rem;
}

.appearance .controls .quick-theme-select label.theme {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;

    background-clip: content-box;
    padding: 1px;

    border-radius: 100%;
    border: solid 1px var(--icon-default-color);

    font-size: 0.5rem;

    cursor: pointer;
}
.appearance .controls .quick-theme-select label.theme.active {
    border-color: var(--icon-active-color);
}

.appearance .controls .quick-theme-select label.theme.theme-match {
    display: grid;
    grid-template: 100% / 100%;
}
.appearance .controls .quick-theme-select label.theme.theme-match .side {
    grid-area: 1/1;
    width: 100%;
    height: 100%;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
.appearance .controls .quick-theme-select label.theme.theme-match .dark.side {
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}
/* #endregion not right now */

.appearance .controls h2 {
    padding-bottom: 0.4rem;
    margin-bottom: 0.8rem;
}

.appearance .controls h3 {
    padding-bottom: 0.2rem;
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
}

.appearance .controls .halign-if-possible {
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    gap: 0.5rem;
}
.appearance .controls .colors {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: start;
    gap: 0.5rem;
}
.appearance .controls .colors.centertext .labeltext {
    text-align: center;
}
.appearance .controls .colors.centertext label {
    align-items: center;
    justify-items: center;
    max-width: 5.8rem;
    gap: 0.2rem;
    margin-bottom: 0;

    display: grid;
    grid-template: minmax(3em, auto) auto / auto;
}
.appearance .controls label {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    gap: 0.1rem;
    margin-bottom: 1rem;
}
.appearance .controls label.halign {
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5rem;
}

.appearance .controls label .labeltext {
    font-weight: 550;
}

.appearance .controls input:not([type="range"], [type="checkbox"]) {
    border: solid 1px rgba(180, 180, 180, 0.1);
    background-color: rgba(180, 180, 180, 0.1);
    padding: 0.2rem 0.2rem;
    padding-bottom: 0;
    font: inherit;
    color: inherit;
    border-radius: 0.2rem 0.2rem 0 0;

    transition: border-color 150ms;
}
.appearance .controls input:not([type="range"], [type="checkbox"]):disabled {
    opacity: 0.8;
    cursor: not-allowed;
}
.appearance .controls input:not([type="range"], [type="checkbox"]):not(:disabled):hover {
    border-color: rgba(180, 180, 180, 0.7);
}


input#preset-name {
    border-bottom: solid 1px currentColor;
    font-size: 1.1rem;
}

input#font-family {
    border-top-right-radius: 0;
}
input#font-size {
    max-width: 8ch;
    border-top-left-radius: 0;
}
.unit {
    position: relative;
}
.unit div {
    position: absolute;
    left: 2.5ch;
    top: 0;
    bottom: 0;
    padding: 0.2rem 0;
    border-width: 2px 0;
    border-style: solid;
    border-color: transparent;
}